
<app-checkbox-filter [title]="'Specialization'" 
    [checkboxFilters]="specializationsCheckboxes" 
    (filterChange)="handleSpecializationFilterChange($event)"
></app-checkbox-filter>

<app-checkbox-filter [title]="'Degree'" 
    [checkboxFilters]="degreesCheckboxes"
    (filterChange)="handleDegreesFilterChange($event)"
></app-checkbox-filter>
<app-checkbox-filter [title]="'Semester'" 
    [checkboxFilters]="semestersCheckboxes"
    (filterChange)="handleSemestersFilterChange($event)"
></app-checkbox-filter>