
<!-- [(indeterminate)]="indeterminate" -->
<!-- [labelPosition]="labelPosition" -->
<!-- [disabled]="disabled" -->


<mat-card>
    <app-checkbox-header
        [title]="title"
        [shouldHeaderCheckboxBeChecked]="shouldHeaderCheckboxBeChecked()"
        [shouldHeaderCheckboxBeIndeterminate]="shouldHeaderCheckboxBeIndeterminate()"
        (headerCheckEventEmitter)="handleHeaderCheckbox($event)"
    ></app-checkbox-header>
    <section >
        <mat-checkbox *ngFor="let checkboxFilter of checkboxFilters"
            [(ngModel)]="checkboxFilter.isChecked"
            (change)="handleCheckbox()"
            >
        {{checkboxFilter.name}}
        </mat-checkbox>
    </section>
    
</mat-card>
