mat-drawer{
    width: 200px;
    height: 100%;
    // background:rgb(255, 255, 255);
    // color: black;
}

mat-drawer-container{
    height: calc(100% - 40px);
}

mat-drawer-content{
    // background:rgb(255, 255, 255);
    // color: black;
}